@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


@theme {
  --color-primary: #e65c00;
  --color-background-light: #f5f5f5;
  --color-background-dark: #1a1a1a;
  --color-mocha: #7A4C30;

  --font-display: "Manrope", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
}